<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159531370921-ols0lo5vdl7s8pcm6rgvttrtkjhnid4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159531370921-ols0lo5vdl7s8pcm6rgvttrtkjhnid4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBxy89HXx2cRJqauKRP2XseOAa6LAK9NhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>159531370921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signature.singly</string>
	<key>PROJECT_ID</key>
	<string>ios-signature</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-signature.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159531370921:ios:9812d61c9430c236901cb8</string>
</dict>
</plist>